.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 24px 48px;
}
.loading{
  .loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;     
}
}