

.mainSidebarContainer{
  flex:0.8;
  background-color: rgb(247, 244, 244);
  height: 100vh;
}

.adminContainer{
  display: flex;
  margin-top: -10px;
}

.adminText{
  margin-left: 60px;
  margin-top: 30px;
  font-size: 20px;


}

.menu{
  display: flex;
  text-align: center;
  justify-content: center;


}

.ulContainer{
  display: flex;
  flex-direction: column;
  gap:25px;
  margin-top: 30px;
  margin-bottom: 50px;

}

.liContainer{
  display: flex;
  align-items: center;
  margin-top: -7px;
  margin-left: 20px;

}

.liContainer p{
  margin-left: 10px;
}

.mainScheduledContainer{
  margin-top: 30px;
}

.scheduledTitle{
  font-size: 14px;
  margin-left: 60px;
}


.scheduledContainer{
  display: flex;
  margin-left: 20px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-top: 10px;
  margin-right: 10px;
}