

.mainSidebarContainer{
  flex:0.8;
  background-color: rgb(247, 244, 244);
  height: 100vh;
}

.adminContainer{
  display: flex;
  margin-top: -10px;
}

.adminText{
  margin-left: 30px;
  font-size: 20px;

}

.menu{
  display: flex;
  text-align: center;
  justify-content: center;

}

.ulContainer{
  display: flex;
  flex-direction: column;
  gap:20px;
  margin-top: 30px;

}

.liContainer{
  display: flex;
  align-items: center;
  margin-top: -7px;

}

.liContainer p{
  margin-left: 10px;
}

.scheduledTitle{
  font-size: 14px;
  margin-left: 40px;
}


.scheduledContainer{
  display: flex;
  margin-left: 20px;
  padding: 10px;
  background-color: yellow;
}