.appbar {
  justify-self: start;
  align-self: center;
  height: var(--app-bar-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2ecec;
  padding: 1rem 1.2rem;
}

.appbar-logo {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.appbar-nav a {
  margin: 0 1.4rem;
  text-decoration: none;
  color: #4d4d4d;
  font-family: 'Inter', sans-serif;
  margin-left: 1vh;
}

.appbar-logo.actions {
  display: flex;
  align-items: flex-end;
  gap: 0.2rem;
  margin-top: 5px;
}
.appbar-nav a:hover {
  text-decoration: underline;
}

.appbar-actions button {
  background-color: #4caf4f;
  border: none;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

.appbar-actions button:hover {
  background-color: #bcbec3;
}

/*Tablet και μικρά laptops */
@media (max-width: 1024px) {
  .appbar {
    padding: 0.75rem 1rem;
  }

  .appbar-nav a {
    margin: 0 0.8rem;
    font-size: 0.95rem;
  }

  .appbar-actions button {
    padding: 0.35rem 0.7rem;
    font-size: 0.9rem;
  }
}

/*Κινητά */
@media (max-width: 600px) {
  .appbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    height: auto; 
  }

  .appbar-nav a {
    display: inline-block;
    margin: 0.2rem 0.4rem;
    font-size: 0.85rem;  /* μικρότερα γράμματα σε κινητό */
  }

  .appbar-actions button {
    padding: 0.3rem 0.6rem;
    font-size: 0.85rem;
  }
}