.appbar {
  justify-self: start;
  align-self: center;
  height: var(--app-bar-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2ecec;
  padding: 1rem 1.2rem;
}

.appbar-logo {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.appbar-nav a {
  margin: 0 1.4rem;
  text-decoration: none;
  color: #4d4d4d;
  font-family: 'Inter', sans-serif;
  margin-left: 1vh;
}

.appbar-logo.actions {
  display: flex;
  align-items: flex-end;
  gap: 0.2rem;
  margin-top: 5px;
}
.appbar-nav a:hover {
  text-decoration: underline;
}

.appbar-actions button {
  background-color: #2e7d32;
  border: none;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

.appbar-actions button:hover {
  background-color: #bcbec3;
}
