.footer {
  align-self: flex-end;
  width: 100%;
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--neutral-white);
  padding: 16px 32px;
}

.footer-copyright1 {
  font-weight: bold;
  font-size: 1.2rem;
  color: #263238;
  font-family: 'Inter', sans-serif;
}
.footer-copyright2 {
  font-weight: bold;
  font-size: 0.8rem;
  color: #263238;
  font-family: 'Inter', sans-serif;
}

.footer-nav a {
  margin: 0 1.4rem;
  text-decoration: none;
  color: #4d4d4d;
  font-family: 'Inter', sans-serif;
  margin-left: 1vh;
  align-items: center;
  padding-left: 5px;
}

.footer-nav a:hover {
  text-decoration: underline;
}
