.processDetailsModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  background: transparent;
  z-index: 1000;
}

.processDetailsModal::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  overflow-y: auto;
  background-color: white;
  border: 1px solid var(--neutral-grey-blue);
  border-radius: 10px;
  padding: 24px;
  z-index: 2000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gridContainer {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    'statusComp statusComp statusComp statusComp statusComp statusComp'
    'statusComp statusComp statusComp statusComp statusComp statusComp'
    'processDetails processDetails actionsComp actionsComp notificationsComp notificationsComp'
    'processDetails processDetails actionsComp actionsComp notificationsComp notificationsComp'
    'processDetails processDetails actionsComp actionsComp notificationsComp notificationsComp'
    'processDetails processDetails actionsComp actionsComp notificationsComp notificationsComp';
}

.statusComp {
  grid-area: statusComp;
  background-color: red;
}

.processDetails {
  grid-area: processDetails;
  background-color: blue;
}

.actionsComp {
  grid-area: actionsComp;
  background-color: green;
}

.notificationsComp {
  grid-area: notificationsComp;
  background-color: yellow;
}
.closeBtn {
  position: absolute;
  right: 12px;
  top: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  z-index: 2000;
}
