.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px 32px;
}

.secondContainer {
  display: flex;
  align-items: center;
  width: auto;
  gap: 15px;
}

.secondButton {
  margin-left: 15px;
}
