.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 32px;
}

.secondContainer {

  display: flex;
  gap: 15px;
}

.secondButton{
  margin-left: 15px;
}