.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;
  border-bottom: 1px solid var(--neutral-grey-blue);
}

.container:last-child {
  border-bottom: none;
}

/* dimiourgo cell class(epilogi...) */
.cell {
  flex: 1;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--neutral-grey-dark);
  padding: 8px 16px;
  border-right: 1px solid var(--neutral-grey-blue);
}

.cell:last-child {
  border-right: none;
}

/* ta onomata ton parakato klasseon einai to idia me to process.status.toLowerCase() */
.cancelled {
  color: var(--color-error);
}

.completed {
  color: var(--color-success);
}

.inprogress {
  color: var(--color-warning);
}

.pending {
  color: var(--color-info);
}
