.container {
  display: grid;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 1px solid var(--neutral-grey-blue);
  width: 100%;
}

.container {
  grid-template-columns:
    minmax(60px, 0.6fr)
    minmax(80px, 0.8fr)
    minmax(80px, 0.8fr)
    minmax(100px, 1fr)
    minmax(100px, 1fr)
    minmax(60px, 0.6fr)
    minmax(90px, 0.9fr)

    ;
}

.cell {
  padding: 8px 0px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--neutral-grey-dark);
  border-right: 2px;
  width: 100%;
}

.cell:last-child {
  border-right: none;
}

/* Status colors */
.started {
  color: var(--color-warning);
}
.processing {
  color: var(--color-primary-tint-1);
}
.confirmed {
  color: var(--color-info);
}
.completed {
  color: var(--color-primary);
}
.cost_added {
  color: var(--color-error);
}

.cell.createdAt {
  display: flex;
  align-items: center;
  justify-content: center; /* or space-between */
  gap: 8px;
  white-space: nowrap;
  text-align: center;
}

.cell.createdAt .date {
  flex: 0 0 auto; /* don't shrink the date */
  min-width: 0; /* allow ellipsis if needed */
}
