:root {
  --footer-height: 3vh;
  --home-page-height: 89vh;
  --app-bar-height: 8vh;
}

.appbar {
  position: sticky;
  height: var(--appbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2ecec;
  color: white;
  padding: 1rem 1.2rem;
}

.appbar-logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: #263238;
  font-family: 'Inter', sans-serif;
}

.appbar-nav a {
  margin: 0 1.4rem;
  text-decoration: none;
  color: #4d4d4d;
  font-family: 'Inter', sans-serif;
  margin-left: 1vh;
}

.appbar-logo.actions {
  display: flex;
  align-item: flex-end;
  gap: 0.2rem;
  margin-top: 5px;
}
.appbar-nav a:hover {
  text-decoration: underline;
}

.appbar-actions button {
  background-color: #4caf4f;
  border: none;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

.appbar-actions button:hover {
  background-color: #bcbec3;
}
