/* contained(me hroma) */
.btn-contained {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.btn-contained:hover {
  background-color: var(--color-primary-shade-5);
}

.btn-contained:active {
  background-color: var(--color-primary-shade-4);
  transform: scale(0.98);
}

.btn-contained:focus {
  outline: 3px solid var(--color-primary-tint-2);
  outline-offset: 2px;
}

.btn-contained:disabled {
  background-color: var(--neutral-silver);
  color: var(--neutral-grey);
  cursor: not-allowed;
}

/* outline(koufio) */
.btn-outlined {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid var(--color-primary);
  background: var(--neutral-white);
}

.btn-outlined:hover {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid var(--color-primary);
  background: var(--neutral-silver);
}

.btn-outlined:active {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--neutral-silver);
}

.btn-outlined:focus {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn-outlined:disabled {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: var(--neutral-silver);
}

.btn-outlined-icon {
  background: none;
  border: 1px solid var(--neutral-grey-blue);
  cursor: pointer;
  padding: 8px;
  margin: 0;
  border-radius: 4000px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--neutral-grey-dark);
}

.btn-outlined-icon:hover {
  background: var(--neutral-silver);
}

.btn-outlined-icon:active {
  background: var(--neutral-silver);
  transform: scale(0.98);
}

.btn-outlined-icon:disabled {
  background: var(--neutral-silver);
  cursor: not-allowed;
}
