:root {
  --footer-height: 3vh;
  --home-page-height: 89vh;
  --app-bar-height: 8vh;
}


.footer{
  position: absolute;
  bottom:0px;
  height: var(--footer-height);
  display: flex;
  right:0px;
  left:0px;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(-90deg, #4caf4f, #ece7e7);
  color:white;
  padding: 1rem 1.2rem;
}

.footer-copyright1{
  font-weight: bold;
  font-size: 1.2rem;
  color:#263238;
  font-family: 'Inter', sans-serif;
}
.footer-copyright2{
  font-weight: bold;
  font-size: 0.8rem;
  color:#263238;
  font-family: 'Inter', sans-serif;
}

.footer-nav a{
  margin: 0 1.4rem;
  text-decoration: none;
  color: #4d4d4d;
  font-family: 'Inter', sans-serif;
  margin-left:1vh;
  align-items: center;
  padding-left: 5px;
}

.footer-nav a:hover{
text-decoration: underline;
}