.link {
  color: var(--color-primary);
  text-decoration: none;
  font-family: var(--font-sans, 'Poppins', sans-serif);
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s ease;
}

.link:active {
  color: var(--color-primary-dark);
  text-decoration: underline;
  transform: scale(0.99);
}

.link--normall{
  font-size: 16px;
  line-height: 24px;
}

.link--medium {
  font-size: 14px;
  line-height: 20px;
}

.link--small {
  font-size: 12px;
  line-height: 16px;
}
