.header-xl {
  color: var(--Neutral-Black, #212121);

  /* Heading/Headline 1 */
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 76px; /* 118.75% */
}

.header-lg {
  color: var(--Neutral-Black, #212121);

  /* Heading/Headline 2 */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
}

.header-md {
  color: var(--Neutral-Black, #212121);

  /* Heading/Headline 3 */
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
}

.header-sm {
  color: var(--Neutral-Black, #212121);

  /* Heading/Headline 4 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
}
