:root {
  --footer-height: 3vh;
  --home-page-height: 89vh;
  --app-bar-height: 8vh;
}

.test-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #131517;
  background: linear-gradient(180deg, #4caf4f, #ece7e7);
  height: var(--home-page-height);
}

.kokkina-grammata {
  color: var(--main-color);
}
