.page {
  display: flex;
  background-color: var(--neutral-silver);
  justify-content: space-evenly;
  align-items: center;
}
.infoBox {
  flex-basis: auto;
  background-color: var(--color-primary-tint-5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 500px;
  white-space: normal;
}
.infoHeader {
  display: flex;
  gap: 5px;
  margin-right: 40px;
}
.infoBox p {
  display: block;
  align-self: center;
  color: var(--color-primary-shade-2);
}
.infoBox li {
  margin-bottom: 10px;
  color: var(--neutral-grey-dark);
}
@media (max-width: 1000px) {
  .page {
    flex-direction: column;
    gap: 30px;
    padding: 30px;
  }
  .text {
    white-space: normal;
  }
}
