.page {
  display: flex;
  background-color: var(--neutral-silver);
  justify-content: space-evenly;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  height: 70vh;
  width: 70vw;
  align-items: stretch;
  border-radius: 12px;
  background-color: var(--neutral-white);
  overflow: hidden;
}
.form {
  flex: 0 0 50%;
}
.infoBox {
  /* flex-basis: auto; */
  flex: 0 0 50%;
  background: linear-gradient(to bottom, var(--color-primary-tint-4), var(--neutral-white));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: normal;
}
.infoBox p {
  display: block;
  align-self: center;
  color: var(--color-primary-shade-2);
}
.infoBox ul {
  list-style: none;
}
.infoBox li {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 6px;
  color: var(--neutral-grey-dark);
}
@media (max-width: 1000px) {
  .page {
    flex-direction: column;
    gap: 30px;
    padding: 30px;
  }
  .text {
    white-space: normal;
  }
}
