:root{
  --appbar-height:8vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-field {
  background-image: url('./icons/User.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
  padding-left: 40px;
}

.password-field {
  background-image: url('./icons/Lock.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
  padding-left: 40px;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
}
