form {
  display: grid;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 0;
  padding: 0px;
}

label {
  display: grid;
  width: auto;
  text-align: left;
  margin-bottom: 0;
  font-weight: 600;
  color: var(--neutral-black);
}

.form-input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 6px 12px 44px;
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 20px;
  font-size: 12px;
}

form > :last-child {
  margin-top: 5px;
}
.form-input:focus {
  border-color: var(--color-primary);
  outline: none;
}

.form-input--user {
  background-image: url('../../../assets/icons/user.svg');
}

.form-input--password {
  background-image: url('../../../assets/icons/lock.svg');
}

.form-actions {
  margin-top: 10px;
  display: flex;
}

.btnLogin {
  display: block;
  margin: 10px auto 0;
}

/* new */
.field {
  position: relative;
  display: grid;
  width: 100%;
  margin: 0;
}

.floatingLabel {
  position: absolute;
  left: 44px;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 600;
  color: var(--color-primary);
  font-size: 12px;
  padding: 0 6px;
  background: white;
  pointer-events: none;
  transition: 0.2s ease-in-out;
}

.form-input:focus + .floatingLabel {
  top: 0;
  transform: translateY(-50%);
  font-size: 10px;
  color: var(--color-primary);
}

.form-input:not(:placeholder-shown) + .floatingLabel {
  top: 0;
  transform: translateY(-50%);
  font-size: 10px;
  color: var(--color-primary);
}
