form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  width: auto;
  text-align: left;
  margin-bottom: 0;
  font-weight: 600;
  color: var(--neutral-black);
}

.form-input {
  display: block;
  width: 100%;

  padding: 12px 12px 12px 40px;
  margin-top: 8px;

  border: 1px solid var(--neutral-grey-light);
  border-radius: 6px;
  transition: border-color 0.3s ease;

  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
  box-sizing: border-box;

  &:focus {
    border-color: var(--color-primary);
    outline: none;
  }
}

.form-input--user {
  background-image: url('./icons/User.svg');
}

.form-input--password {
  background-image: url('./icons/Lock.svg');
}

.form-actions {
  margin-top: 10px;
  display: flex;
}

.btn-contained {
  background-color: #4caf4f;
  color: var(--neutral-white);
  border: none;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;

  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
}

.btn-contained:hover {

  background-color: var(--color-primary-shade-2);
}

.btn-contained:active {
  background-color: var(--color-primary-dark);
  transform: scale(0.33);
}

.btn-contained:focus {
  outline: 3px solid var(--color-primary-light);
  outline-offset: 2px;
}

.login{
  background-color: #4caf4f
}

button  {
  background-color: #4caf4f;
  border: none;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

button:hover{
  background-color: #bcbec3;
}