form {
  display: grid;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: 0;
  padding: 0px;
}

label {
  display: grid;
  width: auto;
  text-align: left;
  margin-bottom: 0;
  font-weight: 600;
  color: var(--neutral-black);
}

.form-input {
  display: block;
  width: 100%;
  box-sizing: border-box;

  padding: 12px 12px 12px 44px;
  margin-top: 5px;

  border: 1px solid var(--neutral-grey-light);
  border-radius: 6px;

  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 20px;
}

.form-input:focus {
  border-color: var(--color-primary);
  outline: none;
}

.form-input--user {
  background-image: url('../../../assets/icons/user.svg');
}

.form-input--password {
  background-image: url('../../../assets/icons/lock.svg');
}

.form-actions {
  margin-top: 10px;
  display: flex;
}

.btn-login {
  font-size: 10px;
}
