.container {
  width: 100vw;
  height: 100vh;

  display: grid;

  grid-template:
    'a1 b1 b1 b1 b1 b1 b1'
    'a1 b1 b1 b1 b1 b1 b1'
    'c1 b1 b1 b1 b1 b1 b1'
    'c1 b1 b1 b1 b1 b1 b1'
    'c1 b1 b1 b1 b1 b1 b1'
    'c1 b1 b1 b1 b1 b1 b1'
    'c1 b1 b1 b1 b1 b1 b1';
}

.a1 {
  grid-area: a1;
  background-color: red;
  align-content: center;
  text-align: center;
}

.b1 {
  grid-area: b1;
  background-color: blue;
}

.c1 {
  grid-area: c1;
  background-color: yellow;
}

.d1 {
  grid-area: d1;
  background-color: brown;
}

.car {
  align-items: center;
}
