.page {
  display: flex;
  background-color: var(--neutral-silver);
  justify-content: space-evenly;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  height: 70vh;
  width: 70vw;
  align-items: stretch;
  border-radius: 12px;
  background-color: var(--neutral-white);
  overflow: hidden;
  box-shadow: var(--shadow-16);
}
.form {
  flex: 0 0 50%;
}
.infoBox {
  /* flex-basis: auto; */
  flex: 0 0 50%;
  background-color: var(--color-primary-tint-5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.infoHeader {
  display: flex;
  gap: 5px;
  margin-right: 40px;
}
.infoBox p {
  display: block;
  align-self: center;
  color: var(--color-primary-shade-2);
}
.infoBox ul {
  list-style: none;
}
.infoBox li {
  display: inline-flex;
  gap: 8px;
  margin-bottom: 10px;
  color: var(--neutral-grey-dark);
}
@media (max-width: 1000px) {
  .page {
    flex-direction: column;
    gap: 30px;
    /* padding: 30px; */
  }
}
