.page {
  box-sizing: border-box;
  display: flex;
  /*border: 2px solid black;*/
  background-color: var(--neutral-silver);
  justify-content: center;
  align-items: center;
  padding: 0px 100px;
  gap: 80px;
}

.formcontainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  /*border: 2px solid black;*/
  background-color: var(--color-primary-tint-5);
  height: 600px;
  padding-left: 30px;
  background-color: var(--neutral-white);
}

.containerBox {
  width: 50%;
  height: 300px;
  /*border: 2px solid black;*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.infoBox {
  width: 80%;
  height: 100%;
  background-color: var(--color-primary-tint-5);
  /*border: 2px solid black;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.infoHeader {
  display: flex;
  gap: 5px;
  margin-right: 40px;
}
.infoBox p {
  display: block;
  align-self: center;
  color: var(--color-primary-shade-2);
}
.infoBox li {
  margin-bottom: 10px;
}
