

.container {
  display: grid;
  grid-template-columns: 100px 180px 120px 1fr 140px 160px 140px 180px 140px;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid var(--neutral-grey-blue);
}

.container:last-child {
  border-bottom: none;
}

.cell {
  padding: 8px 12px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: var(--neutral-grey-dark);
  border-right: 1px solid var(--neutral-grey-blue);
}


.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(5),
.cell:nth-child(7) {
  text-align: center;
}
.actionsCell {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px;
}

.cell:nth-child(9) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.cell:last-child {
  border-right: none;
}

/* Status colors */
.cancelled {
  color: var(--color-error);
}

.completed {
  color: var(--color-success);
}

.inprogress {
  color: var(--color-warning);
}

.pending {
  color: var(--color-info);
}