.container {
  display: grid;
  align-items: center;
  padding: 16px 0px;
  border-bottom: 1px solid var(--neutral-grey-blue);
}

.container {
  grid-template-columns:
    minmax(60px, 0.6fr)
    minmax(80px, 0.8fr)
    minmax(80px, 0.8fr)
    minmax(100px, 1fr)
    minmax(60px, 0.6fr)
    minmax(90px, 0.9fr)
    minmax(300px, 3fr)
    minmax(50px, 0.5fr)
    minmax(50px, 0.5fr)
    minmax(80px, 0.8fr)
    minmax(80px, 0.8fr)
    minmax(70px, 0.7fr);
}

.container:last-child {
  border-bottom: none;
}

.cell {
  padding: 8px 12px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: var(--neutral-grey-dark);
  text-align: center;
  border-right: 0px solid var(--neutral-grey-blue);
}

.actionsCell {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px;
}

.cell:nth-child(9) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.cell:last-child {
  border-right: none;
}

/* Status colors */
.cancelled {
  color: var(--color-error);
}

.completed {
  color: var(--color-success);
}

.inprogress {
  color: var(--color-warning);
}

.pending {
  color: var(--color-info);
}

.cell-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.bellIconContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bellIcon {
  position: absolute;
  bottom: 0;
  left: -2px;
  background-color: var(--color-error);
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 1000%;
  font-size: 10px;
  font-weight: 500;
}

.bellIconContainerAnimated {
  animation: bellIconContainerAnimated 1s ease-in-out infinite;
}

@keyframes bellIconContainerAnimated {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.cell.createdAt {
  display: flex;
  align-items: center;
  justify-content: center; /* or space-between */
  gap: 8px;
  white-space: nowrap;
  text-align: center;
}

.cell.createdAt .date {
  flex: 0 0 auto; /* don't shrink the date */
  min-width: 0; /* allow ellipsis if needed */
}
