.container {
  display: grid;
  align-items: center;
  padding: 16px 0px;
  border-bottom: 1px solid var(--neutral-grey-blue);
}

.container {
  grid-template-columns:
   minmax(60px, 0.6fr)
    minmax(80px, 0.8fr)
    minmax(80px, 0.8fr)
    minmax(120px, 1.2fr)
    minmax(80px, 0.8fr)
    minmax(80px, 0.8fr)
    minmax(80px, 0.8fr);


}

.container:last-child {
  border-bottom: none;
}

.cell {
  padding: 8px 12px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: var(--neutral-grey-dark);
  text-align: center;
  border-right: 0px solid var(--neutral-grey-blue);
}

.actionsCell {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px;
}

.cell:nth-child(9) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-align: center;
}

.cell:last-child {
  border-right: none;
}


/* Status colors */
.started {
  color: var(--color-warning);
}
.pending {
  color: var(--color-info);
}
.completed{
  color: var(--color-success);
}

.cell.createdAt {
  display: flex;
  align-items: center;
  justify-content: center; /* or space-between */
  gap: 8px;
  white-space: nowrap;
  text-align: center;
}

.cell.createdAt .date {
  flex: 0 0 auto; /* don't shrink the date */
  min-width: 0; /* allow ellipsis if needed */
}
