.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 32px;
  margin-bottom: 10px;
}

.searchWrapper {
  margin-top: 1rem;
  width: 100%;
  max-width: 400px;
}
.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #f8fafc;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  transition: all 0.2s ease;
}

.inputContainer:focus-within {
  border-color: var(--color-primary-shade-2);
  background-color: #fff;
  box-shadow: 0 0 0 3px rgba(var(--color-primary-rgb), 0.1);
}

.searchInput {
  width: 100%;
  padding: 10px 10px 10px 40px; /* 40px gia tn fako */
  font-size: 14px;
  color: #1e293b;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
}
.searchIcon {
  position: absolute;
  left: 12px;
  pointer-events: none;
  display: flex;
}

.clearBtn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: auto; /* button width iso me icon */
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.header-xl {
  color: var(--color-primary-shade-5);
}
