body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.container {
  display: grid;
}

.containertop {
  background-color: var(--color-primary-tint-3);
  display: flex;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 1px;
}

.loginContainer {
  flex: 1;
  background-color: var(--neutral-white);
  padding: 30px 50px 50px 50px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  box-sizing: border-box;
}

.textContainer {
  flex: 1;
  max-width: 920px;
  text-align: left;
  gap: 1px;
}

.textContainer h1 {
  color: var(--color-primary-shade-2);
  margin-bottom: 10px;
}

.textContainer p {
  color: var(--neutral-grey-dark);
  margin-top: 20px;
  margin-bottom: 4px;
  line-height: 0.5px;
}

.textContainer h2 {
  color: var(--neutral-black);
  margin-top: 3px;
  margin-bottom: 2px;
}
.horde {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-error);
  margin-top: 16px;
}

.containerbottom {
  display: flex;
  min-height: 50vh;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding: 10px 40px 30px 40px;
  background-color: var(--color-primary-tint-5);
}

.text2Container {
  flex: 2;
  max-width: 800px;
  max-height: 100px;
  text-align: left;
}
