.process-table-container {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--neutral-grey-blue);
  padding: 25px;
  margin-right: 250px;
  text-align: center;
  max-height: 60vh;
  overflow-y: auto;
}

.processTable{
  margin-left: 0;

}

.process-table-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 32px;
  border-bottom: 1px solid var(--neutral-grey-blue);
  margin-right: 15px;
}

/* den dimiourgo cell class simadeuo ta span(epilogi...) */
.process-table-header span {
  flex: 1;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: var(--neutral-grey-dark);
  padding: 8px 16px;
  border-right: 1px solid var(--neutral-grey-blue);
}

.process-table-header span:last-child {
  border-right: none;
}
