.process-table-container {
  width: auto;
  border: 1px solid var(--neutral-grey-blue);
  padding: 0px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px;
  max-height: 65vh;
  overflow-y: auto;
  background: white;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.process-table-header {
  display: grid;
  align-items: center;
  padding: 16px 0;
  border-bottom: 2px solid var(--neutral-grey-blue);
  font-weight: 700;
  background: #f8f9fa;
  position: sticky;
  top: 0;
  z-index: 10;
}

.process-table-header span {
  padding: 8px 12px;
  text-align: left;
  font-size: 14px;
  color: var(--neutral-grey-dark);
  border-right: 1px solid var(--neutral-grey-blue);
  white-space: nowrap;
}

.processTable {
  width: 100%;
}

.process-table-container::-webkit-scrollbar {
  width: 5px;
}

.process-table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.process-table-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.process-table-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.process-table :hover {
  background-color: var(--neutral-silver);
}

.process-table-header {
  /*Adjust According to each table */
  grid-template-columns: 90px 140px 120px 1fr 100px 120px 130px 160px 130px 100px 120px;
}
.process-table-header span:last-child {
  border-right: none;
}

/* center-alignment for specif fields. Adjust According to each table */
.process-table-header span:nth-child(2),
.process-table-header span:nth-child(4),
.process-table-header span:nth-child(5),
.process-table-header span:nth-child(7),
.process-table-header span:nth-child(10),
.process-table-header span:nth-child(11) {
  text-align: center;
}
