/* employee-process-table-row.module.css */

.container {
  display: grid;
  align-items: center;
  padding: 8px 10;
  border-bottom: 1px solid var(--neutral-grey-blue);
}

.container {
  /*Adjust According to the table */
  grid-template-columns: 100px 90px 110px 150px 90px 130px 350px 110px 150px 100px 224px 100px;
}

.cell {
  padding: 8px 12px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--neutral-grey-dark);
  border-right: 1px solid var(--neutral-grey-blue);
}

/* Actions - κεντράρισμα */
.cell:nth-child(11) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.cell:last-child {
  border-right: none;
}

/* Status colors */
.inprogress {
  color: var(--color-warning);
}

.pending {
  color: var(--color-info);
}

.completed {
  color: var(--color-success);
}

.cell-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: px;
}
