.container {
  display: grid;
  align-items: center;
  padding: 8px 10px;
  border-bottom: 1px solid var(--neutral-grey-blue);
  width: 100%;
}

/* Ensure the column gets enough room responsively */
.container {
  grid-template-columns:
    minmax(60px, 0.6fr)
    minmax(80px, 0.8fr)
    minmax(80px, 0.8fr)
    minmax(100px, 1fr)
    minmax(100px, 1fr)
    minmax(190px, 1.9fr)
    minmax(60px, 0.6fr)
    minmax(90px, 0.9fr)
    minmax(60px, 0.6fr)
    minmax(110px, 0.9fr)
    minmax(80px, 1fr);
}

.cell {
  padding: 8px 0px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--neutral-grey-dark);
  border-right: 2px;
  width: 100%;
}

.cell:last-child {
  border-right: none;
}

/* Status colors */
.inprogress {
  color: var(--color-warning);
}
.pending {
  color: var(--color-info);
}
.completed {
  color: var(--color-success);
}

.cell-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.bellIconContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bellIcon {
  position: absolute;
  bottom: 0;
  left: -2px;
  background-color: var(--color-error);
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 1000%;
  font-size: 10px;
  font-weight: 500;
}

.bellIconContainerAnimated {
  animation: bellIconContainerAnimated 1s ease-in-out infinite;
}

@keyframes bellIconContainerAnimated {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.cell.createdAt {
  display: flex;
  align-items: center;
  justify-content: center; /* or space-between */
  gap: 8px;
  white-space: nowrap;
  text-align: center;
}

.cell.createdAt .date {
  flex: 0 0 auto; /* don't shrink the date */
  min-width: 0; /* allow ellipsis if needed */
}
