.mainHomeRightBar{
  flex : 4;
  background-color: white;
  height: 90vh;
}

.ItemContainer{
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 20px;
}

/* FIRST LINE OF LINE CHARTS */

.ItemContainer1{
  background-color: white;
  width: 390px;
  height: 20vh;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 7px 0px;
}

/* first  line chart */

.taskProgress{
  text-align: start;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 15px;

}

.taskCounter{
  text-align: start;
  font-size: 20px;
  margin-left: 5px;
  font-weight: 700;
  margin-bottom: 15px;
  color:#66bb69;

}

.currentMonth1{
  text-align: start;
    margin-left: 5px;

}

/* second  line chart */
.taskProgress2{
  text-align: start;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 15px;

}

.taskCounter2{
  text-align: start;
  font-size: 20px;
  margin-left: 5px;
  font-weight: 700;
  margin-bottom: 15px;
  color:#2194f3;

}

.currentMonth2{
  text-align: start;
    margin-left: 5px;

}

/* third  line chart */
.taskCounter3{
  text-align: start;
  font-size: 20px;
  margin-left: 5px;
  font-weight: 700;
  margin-bottom: 15px;
  color:#fbc02d;

}

/* middle chart  */

.middleTaskChart{
  display: flex;
  flex-direction:column ;
  width: 92%;
  background-color: white;
  margin: auto;
  justify-content: center;
  text-align: center;
  gap : 10px;
  padding-left: 40px;
  border-radius: 10px;
  box-shadow: rgba(100,100,111,0.2) 0px 7px 7px 0px;
}

.TaskCreatedVsCompleted{

}