.mainHomeRightBar{
  flex : 4;
  background-color: rgba(202, 201, 201, 0.364);
  height: 100vh;
}

.ItemContainer{
  display: flex;
  margin: auto;
  justify-content: center;
}

.ItemContainer1{
  background-color: rgb(245, 249, 249);
  width: 390px;
  height: 20vh;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  padding: 10px;
}

.taskProgress{
  text-align: start;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 15px;

}

.taskCounter{
  text-align: start;
  font-size: 20px;
  margin-left: 35px;
  font-weight: 700;
  margin-bottom: 15px;
  color:#66bb69;

}

.currentMonth1{
  text-align: start;
    margin-left: 35px;

}


.taskProgress2{
  text-align: start;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 15px;

}

.taskCounter2{
  text-align: start;
  font-size: 20px;
  margin-left: 35px;
  font-weight: 700;
  margin-bottom: 15px;
  color:#2194f3;

}

.currentMonth2{
  text-align: start;
    margin-left: 10px;

}

.taskCounter3{
  text-align: start;
  font-size: 20px;
  margin-left: 35px;
  font-weight: 700;
  margin-bottom: 15px;
  color:#fbc02d;

}