.mainHomeRightBar{
  flex : 4;
  background-color: rgba(202, 201, 201, 0.364);
  height: 100vh;
}

.ItemContainer{
  display: flex;
  margin: auto;
  justify-content: center;
}

.ItemContainer1{
  background-color: rgb(245, 249, 249);
  width: 390px;
  height: 20vh;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  padding: 10px;
}

.taskProgress{
  text-align: start;
    margin-left: 10px;
    margin-top: 30px;
}

.taskCounter{
  text-align: start;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 600;

}

.currentMonth1{
  text-align: start;
    margin-left: 10px;

}