.actionsComp {
  grid-area: actionsComp;
  background-color: var(--color-primary-tint-5);
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.header {
  color: var(--neutral-grey-dark);
}
.actionrow {
  flex: 1;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.actionrow select {
  color: var(--neutral-grey-dark);
  width: 250px;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}
.actionrow p {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  /* margin-top: auto; */
}
button {
  width: 100px;
}
