.actionsComp {
  grid-area: actionsComp;
  background-color: var(--color-primary-tint-5);
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.actionrow {
  flex: 1;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.actionrow p {
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  /* margin-top: auto; */
}
button {
  width: 100px;
}
