.notificationsComp {
  grid-area: notificationsComp;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--neutral-silver);
  padding: 12px;
}
.header {
  color: var(--neutral-grey-dark);
}
.notificationsTableHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-left: 5px;

}

.date{
  padding-right: 15px;
  padding-left: 10px ;

}

.message{
  color: var(--color-info)
}

.notificationsTableRow {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  padding: 5px;
}
